<a href="https://colab.research.google.com/github/SavannahWithAnH/Neural_Networks/blob/main/neural_networks_optimized.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'], inplace=True)

In [ ]:
# confirm columns dropped
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NAME                    34299 non-null  object
 1   APPLICATION_TYPE        34299 non-null  object
 2   AFFILIATION             34299 non-null  object
 3   CLASSIFICATION          34299 non-null  object
 4   USE_CASE                34299 non-null  object
 5   ORGANIZATION            34299 non-null  object
 6   STATUS                  34299 non-null  int64
 7   INCOME_AMT              34299 non-null  object
 8   SPECIAL_CONSIDERATIONS  34299 non-null  object
 9   ASK_AMT                 34299 non-null  int64
 10  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.9+ MB

In [ ]:
app_object = application_df.dtypes[application_df.dtypes != 'object'].index.tolist()
app_object

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [ ]:
# Determine the number of unique values in each column.
application_df[app_object].nunique()

STATUS              2
ASK_AMT          8747
IS_SUCCESSFUL       2
dtype: int64

In [ ]:
# further preproccessing
app_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_df[app_cat].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [ ]:
# binning names
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [ ]:
# binning names cont'd
replace_name = list(name_count[name_count < 175].index)

for name_count in replace_name:
  application_df['NAME'] = application_df['NAME'].replace(name_count, "Other")

application_df['NAME'].value_counts()

Other                                                                 27926
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
Name: NAME, dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
print(app_count)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value (250) and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_count[app_count < 250].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 150].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [ ]:
app_cat = application_df.dtypes[application_df.dtypes == 'object'].index.tolist()
application_df[app_cat].nunique()

NAME                      16
APPLICATION_TYPE           9
AFFILIATION                6
CLASSIFICATION             9
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,NAME_LITTLE LEAGUE BASEBALL INC,NAME_MOMS CLUB,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# drop odd columns
#application_df = application_df.drop(app_cat, axis=1)

# confirm all data is numerical
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 63 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   STATUS                                                                   34299 non-null  int64
 1   ASK_AMT                                                                  34299 non-null  int64
 2   IS_SUCCESSFUL                                                            34299 non-null  int64
 3   NAME_ALPHA PHI SIGMA                                                     34299 non-null  uint8
 4   NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                     34299 non-null  uint8
 5   NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                            34299 non-null  uint8
 6   NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS                            34299 non-null  uint8
 7   NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION  34299 non-null  uint8
 8   NAME_LITTLE LEAGUE BASEBALL INC                                          34299 non-null  uint8
 9   NAME_MOMS CLUB                                                           34299 non-null  uint8
 10  NAME_MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                   34299 non-null  uint8
 11  NAME_Other                                                               34299 non-null  uint8
 12  NAME_PARENT BOOSTER USA INC                                              34299 non-null  uint8
 13  NAME_PTA TEXAS CONGRESS                                                  34299 non-null  uint8
 14  NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                       34299 non-null  uint8
 15  NAME_TOASTMASTERS INTERNATIONAL                                          34299 non-null  uint8
 16  NAME_TOPS CLUB INC                                                       34299 non-null  uint8
 17  NAME_UNITED STATES BOWLING CONGRESS INC                                  34299 non-null  uint8
 18  NAME_WASHINGTON STATE UNIVERSITY                                         34299 non-null  uint8
 19  APPLICATION_TYPE_Other                                                   34299 non-null  uint8
 20  APPLICATION_TYPE_T10                                                     34299 non-null  uint8
 21  APPLICATION_TYPE_T19                                                     34299 non-null  uint8
 22  APPLICATION_TYPE_T3                                                      34299 non-null  uint8
 23  APPLICATION_TYPE_T4                                                      34299 non-null  uint8
 24  APPLICATION_TYPE_T5                                                      34299 non-null  uint8
 25  APPLICATION_TYPE_T6                                                      34299 non-null  uint8
 26  APPLICATION_TYPE_T7                                                      34299 non-null  uint8
 27  APPLICATION_TYPE_T8                                                      34299 non-null  uint8
 28  AFFILIATION_CompanySponsored                                             34299 non-null  uint8
 29  AFFILIATION_Family/Parent                                                34299 non-null  uint8
 30  AFFILIATION_Independent                                                  34299 non-null  uint8
 31  AFFILIATION_National                                                     34299 non-null  uint8
 32  AFFILIATION_Other                                                        34299 non-null  uint8
 33  AFFILIATION_Regional                                                     34299 non-null  uint8
 34  CLASSIFICATION_C1000                                                     34299 non-null  uint8
 35  CLASSIFICATION_C1200                                                     34299 non-null  uint8
 36  CLASSIFICATION_C1700                                                     34299 non-null  uint8
 37  CLASSIFICATION_C2000                                                     34299 non-null  uint8
 38  CLASSIFICATION_C2100                                                     34299 non-null  uint8
 39  CLASSIFICATION_C3000                                                     34299 non-null  uint8
 40  CLASSIFICATION_C4000                                                     34299 non-null  uint8
 41  CLASSIFICATION_C7000                                                     34299 non-null  uint8
 42  CLASSIFICATION_Other                                                     34299 non-null  uint8
 43  USE_CASE_CommunityServ                                                   34299 non-null  uint8
 44  USE_CASE_Heathcare                                                       34299 non-null  uint8
 45  USE_CASE_Other                                                           34299 non-null  uint8
 46  USE_CASE_Preservation                                                    34299 non-null  uint8
 47  USE_CASE_ProductDev                                                      34299 non-null  uint8
 48  ORGANIZATION_Association                                                 34299 non-null  uint8
 49  ORGANIZATION_Co-operative                                                34299 non-null  uint8
 50  ORGANIZATION_Corporation                                                 34299 non-null  uint8
 51  ORGANIZATION_Trust                                                       34299 non-null  uint8
 52  INCOME_AMT_0                                                             34299 non-null  uint8
 53  INCOME_AMT_1-9999                                                        34299 non-null  uint8
 54  INCOME_AMT_10000-24999                                                   34299 non-null  uint8
 55  INCOME_AMT_100000-499999                                                 34299 non-null  uint8
 56  INCOME_AMT_10M-50M                                                       34299 non-null  uint8
 57  INCOME_AMT_1M-5M                                                         34299 non-null  uint8
 58  INCOME_AMT_25000-99999                                                   34299 non-null  uint8
 59  INCOME_AMT_50M+                                                          34299 non-null  uint8
 60  INCOME_AMT_5M-10M                                                        34299 non-null  uint8
 61  SPECIAL_CONSIDERATIONS_N                                                 34299 non-null  uint8
 62  SPECIAL_CONSIDERATIONS_Y                                                 34299 non-null  uint8
dtypes: int64(3), uint8(60)
memory usage: 2.7 MB

In [ ]:
# Split our preprocessed data into our features and target arrays
y= application_df['IS_SUCCESSFUL'].values
X= application_df.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# troubleshooting
len(X_train[0])

62

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
#hidden_nodes_l1= (number_input_features * 3)
#hidden_nodes_l2= (number_input_features * .6)
hidden_nodes_l1 =  100
hidden_nodes_l2 = 30
hidden_nodes_l3 = 10


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(
        units=hidden_nodes_l1,
        input_dim=number_input_features,
        activation='relu'
        )
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(
        units=hidden_nodes_l2,
        activation='sigmoid'
        )
)

# third hidden layer
nn.add(
    tf.keras.layers.Dense(
        units=hidden_nodes_l3,
        activation='sigmoid'
        )
)

# Output layer
nn.add(
    tf.keras.layers.Dense(
        units=1,
        activation='sigmoid'
    )
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               6300

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 9,651
Trainable params: 9,651
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
fitted = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5474 - accuracy: 0.7289
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5160 - accuracy: 0.7501
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5105 - accuracy: 0.7524
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5069 - accuracy: 0.7534
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5053 - accuracy: 0.7530
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5032 - accuracy: 0.7535
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5022 - accuracy: 0.7557
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5010 - accuracy: 0.7572
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4997 - accuracy: 0.7555
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4996 - accuracy: 0.7566
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4992 - accuracy: 0.7574
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4984 - accuracy: 0.7577
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4974 - accuracy: 0.7587
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4971 - accuracy: 0.7582
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4966 - accuracy: 0.7580
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4957 - accuracy: 0.7587
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4957 - accuracy: 0.7586
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4952 - accuracy: 0.7599
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4949 - accuracy: 0.7599
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4947 - accuracy: 0.7592
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4939 - accuracy: 0.7582
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4934 - accuracy: 0.7595
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4935 - accuracy: 0.7597
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4931 - accuracy: 0.7603
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4928 - accuracy: 0.7606
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4920 - accuracy: 0.7608
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4926 - accuracy: 0.7593
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4918 - accuracy: 0.7596
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4920 - accuracy: 0.7585
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4910 - accuracy: 0.7614
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4912 - accuracy: 0.7604
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4908 - accuracy: 0.7603
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4906 - accuracy: 0.7612
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4906 - accuracy: 0.7610
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4903 - accuracy: 0.7593
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4901 - accuracy: 0.7610
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4900 - accuracy: 0.7609
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4894 - accuracy: 0.7608
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4895 - accuracy: 0.7610
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4890 - accuracy: 0.7593
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4888 - accuracy: 0.7609
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4890 - accuracy: 0.7591
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4885 - accuracy: 0.7618
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4883 - accuracy: 0.7608
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4883 - accuracy: 0.7620
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4878 - accuracy: 0.7613
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4874 - accuracy: 0.7618
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4877 - accuracy: 0.7622
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4874 - accuracy: 0.7621
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4873 - accuracy: 0.7622
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4874 - accuracy: 0.7624
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4870 - accuracy: 0.7615
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4872 - accuracy: 0.7612
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4866 - accuracy: 0.7623
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4869 - accuracy: 0.7616
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4869 - accuracy: 0.7609
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4863 - accuracy: 0.7616
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4865 - accuracy: 0.7621
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4862 - accuracy: 0.7625
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4859 - accuracy: 0.7624
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4860 - accuracy: 0.7629
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4859 - accuracy: 0.7622
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4854 - accuracy: 0.7620
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4855 - accuracy: 0.7625
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4855 - accuracy: 0.7617
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4856 - accuracy: 0.7628
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4852 - accuracy: 0.7630
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4849 - accuracy: 0.7622
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4851 - accuracy: 0.7620
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4849 - accuracy: 0.7619
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4850 - accuracy: 0.7621
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4848 - accuracy: 0.7622
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4848 - accuracy: 0.7625
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4847 - accuracy: 0.7622
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4846 - accuracy: 0.7630
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4843 - accuracy: 0.7631
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4844 - accuracy: 0.7632
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4844 - accuracy: 0.7629
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4843 - accuracy: 0.7632
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4839 - accuracy: 0.7628
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4841 - accuracy: 0.7626
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4842 - accuracy: 0.7627
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4839 - accuracy: 0.7632
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4840 - accuracy: 0.7622
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4841 - accuracy: 0.7630
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4838 - accuracy: 0.7638
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4839 - accuracy: 0.7627
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4838 - accuracy: 0.7628
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4835 - accuracy: 0.7628
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4834 - accuracy: 0.7632
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4834 - accuracy: 0.7633
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4832 - accuracy: 0.7638
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4830 - accuracy: 0.7630
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4833 - accuracy: 0.7630
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4834 - accuracy: 0.7633
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4833 - accuracy: 0.7626
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4832 - accuracy: 0.7629
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4829 - accuracy: 0.7632
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4830 - accuracy: 0.7639
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4828 - accuracy: 0.7638

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5137 - accuracy: 0.7478 - 541ms/epoch - 2ms/step
Loss: 0.5136846899986267, Accuracy: 0.7477551102638245

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimized.h5")